<!-- EJS : HTML + Java-Script  -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
    <h1>This Is Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam soluta minus laboriosam placeat illum itaque labore praesentium ad velit vitae! Optio neque maxime pariatur repellendus dolore distinctio iure illo laborum perspiciatis beatae earum asperiores nobis totam quia harum, cum dolores officiis ipsam nisi quos amet? Id laudantium praesentium blanditiis culpa.</p>
    <input type="text" height="100px" width="60%">
    <button style="height: 100px; width: 200px;">Search</button>

    <!-- <%= HTML Escaped Value:  Value String me aati  %> -->
    <!-- <%- HTML Uncaped Value:  Value String me aati  %> -->
     
    <h2> <%= 1 + 2%> </h2>
    <h2> <%="Rohit Rathod", upperCase()%> </h2>
    <h2> <%= ["Hello","IAS", "ROHIT", "RATHOD"][2] %> </h2>
 </body>
 </html>