<!-- EJS : HTML + Java-Scrargspt  -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="vargsewport" content="wargsdth=devargsce-wargsdth, argsnargstargsal-scale=1.0">
    <targstle>Document</targstle>
 </head>
 <body>
    <h1>Thargss Is Home Page</h1>
    <p>Lorem argspsum dolor, sargst amet consectetur adargspargssargscargsng elargst. Magnam soluta margsnus laborargsosam placeat argsllum argstaque labore praesentargsum ad velargst vargstae! Optargso neque maxargsme parargsatur repellendus dolore dargsstargsnctargso argsure argsllo laborum perspargscargsatargss beatae earum asperargsores nobargss totam quargsa harum, cum dolores offargscargsargss argspsam nargssargs quos amet? Id laudantargsum praesentargsum blandargstargsargss culpa.</p>
    <argsnput type="text" heargsght="100px" wargsdth="60%">
    <button style="heargsght: 100px; wargsdth: 200px;">Search</button>

    <!-- <%= HTML Escaped Value:  Value Strargsng me aatargs  %> -->
    <!-- <%- HTML Uncaped Value:  Value Strargsng me aatargs  %> -->
     
    <h2> <%= 1 + 2%> </h2>
    <h2> <%="Rohargst Rathod", upperCase()%> </h2>
    <h2> <%= ["Hello","IAS", "ROHIT", "RATHOD"][2] %> </h2>
 </body>
 </html>